openapi: "3.0.0"
info:
  version: 1.0.0
  title: ceosys guideline checker
servers:
  - url: http://preevent-covid.charite.de/1.0.0/
paths:
  /pico:
    post:
      operationId: app.pico_post
      summary: Send a guideline for testing
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PICO"
            example:
              recommendationId: 123
              recommendations:
                - population:
                    - name: Intensive Care unit
                      id:
                        terminology: cochrane
                        id: 10sx0v1p36wyv
                      value: true
                    - name: COVID-19
                      id:
                        terminology: cochrane
                        id: NrO30O5ZnYIkjE
                      value: true
                    - name: Supine body position
                      id:
                        terminology: cochrane
                        id: r4hp39rbgq4j
                      value: true
                  intervention:
                    - name: RASS
                      id:
                        terminology: cochrane
                        id: r4hp39rbgq4j
                      value:
                        min: -1

      responses:
        '200':
          description: Success

components:
  schemas:
    PICO:
      type: object
      properties:
        recommendationId:
          type: number
          example: 12345
        recommendations:
          type: array
          items:
            type: object
            properties:
              population:
                "$ref": "#/components/schemas/population"
              intervention:
                "$ref": "#/components/schemas/intervention"
            required:
              - population
              - intervention
      required:
        - recommendationId
        - recommendations

    terminologyIdentifier:
      description: main population ID in cochrane or ceosys
      type: object
      properties:
        id:
          type: string
        terminology:
          type: string
          enum: [cochrane, ceosys, snomed, mesh]
          example: cochrane

    population:
      description: Properties of the population for the recommended intervention
      type: array
      items:
        type: object
        properties:
          name:
            description: name of main population
            type: string
          id:
            "$ref": "#/components/schemas/terminologyIdentifier"
        required:
          - name
          - id

    intervention:
      description: Properties of the recommended intervention
      type: array
      items:
        type: object
        properties:
          name:
            description: name of main intervention
            type: string
          id:
            "$ref": "#/components/schemas/terminologyIdentifier"
          value:
            oneOf:
              - type: string
              - type: number
              - type: array
                items:
                  - oneOf:
                    - type: number
                    - type: string
              - type: object
                properties:
                  min:
                    type: number
                  max:
                    type: number
        required:
          - name
          - id
          - value
