sphinx>=1.3
sphinx-rtd-theme
sphinx_autodoc_typehints
python-dotenv>=0.17.0
pandas>=1.3
pydantic[dotenv]
jsonpath_ng>=1.5.2
Pint>=0.17
requests>=2.31.0
openpyxl
xlrd
fastapi
python-jose[cryptography]
passlib[bcrypt]
PyYAML>=5.4.1
python-multipart
git+https://github.com/glichtner/fhir.resources
